{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Create Comment
{% endblock %}

{% block head %}
 <link rel="stylesheet" href="{% static 'css/commentStyle.css' %}">
{% endblock %}

{% block login %}
<form class="form-inline" action="{% url 'user_login' %}">
  {% csrf_token %}
  <button class="btn btn-outline-success my-2 my-sm-0 comment-btn" type="submit">Login</button>
</form>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="jumbotron">
      <h1 class='display-4'></h1>
        <form class="" method="post">
          <div class="form-group">
            {% csrf_token %}
            <h1 class= 'display-4'>Comment</h1>
            <hr class="my-4"/>
            <label class="comment-btn lead for="com_content">*Please follow the community guidlines</label>
            {{form.com_content}}
            {{form.post}}
          </div>
          <input type="submit"class="btn btn-outline-success comment-submit" name="" value="submit">
        </form>

    </div>
  </div>
{% endblock %}
