{% extends 'base.html' %}


{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1 class= 'display-4'>{{post_detail.title}}</h1>
    <p class='lead' style='margin-left: 10px'>by: {{post_detail.user.last_name}}, {{post_detail.user.first_name}}</p>
    <p class='lead' style='margin-left: 10px; margin-top: -10px'>{{post_detail.create_date}}</p>
    <hr class= 'my-4'>
    <p style='text-indent: 50px;'>{{post_detail.content}}</p>
    <p class='lead-4' style='text-align: right; margin-top:100px'><a class='btn btn-danger' href="{% url 'appOne:delete' pk=post_detail.pk%}">Delete Post</a></p>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h4>Comments</h4>
    <hr style='width:100%'>
    {% for comment in post_detail.comments.all %}
    <p><u>{{comment.author}}</u> comments:</p>
    <p style='margin-left:5px'>{{comment.com_content}}</p>
    <p>-{{comment.create_date}}</p>
    <a class='btn btn-danger' href="{{comment.id}}">Delete</a>
    <hr style = 'width: 75%'>
    {% endfor %}

  </div>

</div>

{% endblock %}
