{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Homepage
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/homepageStyle.css' %}"
  <script src="{% static 'js/homepageScript.js' %}">

  </script>
{% endblock %}

{% block login %}
<form class="form-inline" method='post'>
  {% csrf_token %}
  <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" aria-label="Search">
  <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
</form>

{% endblock %}

{% block body %}

<div class="container">
  <div class="jumbotron">
    <h1 class='display-4'>Welcome to the Blog Site</h1>
    <hr class='my-4'>
    <p>Check out the most recent blogs!.</p>
    <div class = "container">
      <a
        class="btn btn-primary btn-lg tooltop"
        href="{% url 'appOne:list' %}"
        role="button">
        Go!
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h6 class="display-4">Get Started!</h6>
    <hr class="my-4"/>
    <table>
      <tr>
        <td>
          <p class="lead">
              1.) Register!
          </p>
        </td>
        <td>
          <img src="{% static 'images/registerImg.jpg' %}" class="howto-img-square"/>
        </td>
      </tr>
      <tr>
        <td>
          <p class="lead">
            2.) Login!
          </p>
        </td>
        <td>
          <img src="{% static 'images/loginImg.jpg' %}" class="howto-img-rectangle"/>
        </td>
      </tr>
      <tr>
        <td>
          <p class="lead">
            3.) Blog!
          </p>
        </td>
        <td>
          <img src="{% static 'images/blogImg.jpg' %}" class="howto-img"/>
        </td>
      </tr>
      <tr>
        <td>
          <p class="lead">
            4.) Share!
          </p>
        </td>
        <td>
          <img src="{% static 'images/publishImg.jpg' %}" class="howto-img"/>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
